$font-color: #dcddde;
$h1-font-color: rgba(255, 255, 255, 0.95);
$hn-font-color: rgba(255, 255, 255, 0.85);
$hint-bg-color: rgba(31, 141, 201, 0.65);
$code-font-color: #ffd149;
$code-bg-color: rgba(255, 255, 255, 0.1);
$mark-font-color: #ffbf00;
$code-font-family: "Fira Code", monospace;

.wrapper {
  width: 100%;
  min-height: 80vh;
  line-height: 26px;
  letter-spacing: normal;

  .markdown-container {
    margin: 40px 160px 0px 80px;

    p,
    tr,
    h1,
    h2,
    h3,
    h4 {
      code {
        font-family: $code-font-family;
        color: $code-font-color;
        background-color: $code-bg-color;
        border-radius: 4px;
        padding: 2px 6px;
        font-size: 15px;
      }
    }

    pre {
      margin: 30px 0px 30px 0px;
      border-radius: 4px;
      * {
        font-family: $code-font-family;
        font-size: 16px;
      }
    }

    a {
      text-decoration: none;
      color: $mark-font-color;
      font-weight: 600;
      color: $font-color;
    }

    h1 {
      font-weight: normal;
      margin: 20px 0px 10px 0px;
      color: $h1-font-color;
    }

    blockquote {
      p {
        $light-hint-bg-color: lighten($hint-bg-color, 10%);

        padding: 10px 10px 10px 15px;
        background-color: $hint-bg-color;
        border-left: 8px solid $light-hint-bg-color;
        border-radius: 4px;
      }
    }

    h2,
    h2,
    h3,
    h4 {
      font-weight: normal;
      margin: 20px 0px 10px 0px;
      color: $hn-font-color;
    }

    p {
      color: $font-color;
      margin: 16px 0px;
    }

    img {
      max-width: 100%;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        text-align: left;
        padding: 10px;
      }

      tr:nth-child(odd) {
        background-color: #0d1117;
      }

      tr:nth-child(even) {
        background-color: #161b22;
      }
    }
  }
}
